.width50px {
    width: 50px;
}

.width230px {
    width: 230px;
}

.width150px {
    width: 150px;
}

.width400px {
    width: 400px;
}

.width100pc {
    width: 100%;
}

.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

.nowrap {
    white-space: nowrap;
}

.header-cont {
    width:100%;
    position:fixed;
    top:0;
}

.header {
    height:43px;
    background:#ffffff;
    border:1px solid #CCC;
    width:100%;
    margin:0 auto;
}
.content {
    width:100%;
    border: 1px solid #CCC;
    margin: 42px auto;
}

.debt {
    color: red;
}
.payed {
    color: green;
}

.bold {
    font-weight: bold;
}