@(houses: List[model.entities.House])
<div class="header-cont">
    <div ng-controller="housesController" ng-init="loadHouses()" class="header">
        <ul class="nav nav-tabs">
            <li ng-repeat="house in houses" ng-class="{active: (currentHouse && currentHouse == house.id)}">
                <a ng-click="activateHouse(house)">
                    <button type="button" class="close closeTab" data-dismiss="modal" aria-hidden="true">×</button>
                    {{house.name}}
                </a>
            </li>
            <li>
                <form class="form-inline" style="padding-top: 8px">
                    <div class="form-group">
                        <label class="sr-only" for="inputHouse">Номер дома</label>
                        <input type="text" class="form-control" id="inputHouse" placeholder="Номер дома" style="width: 120px; height: 25px" ng-model="addForm.name" ng-required="true" />
                    </div>
                    <button type="submit" class="btn btn-default" style="height: 25px; width: 80px; padding-top: 1px; padding-left: 7px" ng-click="addForm.submit()">Добавить</button>
                </form>
            </li>
        </ul>
    </div>
</div>
<div ng-controller="tenantController" class="content">
    <table class="table table-striped table-condensed">
        <thead>
            @tenantTableHeader()
        </thead>
        <tfoot>
            @tenantTableHeader()
        </tfoot>
        <tbody>
            <tr ng-repeat="tenantDto in tenantDtos">
                <td class="width50px">
                    <div ng-show="!tenantDto.tenant.editMap.apartment" ng-click="makeEditable(tenantDto.tenant, 'apartment', true)">{{tenantDto.tenant.apartment}}</div>
                    <input placeholder="#"
                            type="text"
                            class="width50px"
                            ng-model="tenantDto.tenant.apartment"
                            ng-show="tenantDto.tenant.editMap.apartment"
                            focus-me="tenantDto.tenant.editMap.apartment"
                            ng-enter="save(tenantDto.tenant)"
                            ng-esc="makeEditable(tenantDto.tenant, 'apartment', false)"/>
                </td>
                <td class="width230px">
                    <div ng-show="!tenantDto.tenant.editMap.ownerName" ng-click="makeEditable(tenantDto.tenant, 'ownerName', true)">{{tenantDto.tenant.ownerName}}</div>
                    <input placeholder="Имя"
                            type="text"
                            ng-model="tenantDto.tenant.ownerName"
                            ng-show="tenantDto.tenant.editMap.ownerName"
                            focus-me="tenantDto.tenant.editMap.ownerName"
                            ng-enter="save(tenantDto.tenant)"
                            ng-esc="makeEditable(tenantDto.tenant, 'ownerName', false)" />
                </td>
                <td class="width400px">
                    @payment("housing")
                </td>
                <td class="width400px">
                    @payment("water")
                </td>
                <td>{{tenantDto.tenant.comment}}</td>
            </tr>
            <tr>
                <td class="width50px">
                    <input placeholder="#" type="text" class="width50px" ng-model="newTenant.apartment" />
                </td>
                <td class="width230px">
                    <input placeholder="Имя" type="text" ng-model="newTenant.ownerName" />
                </td>
                <td></td>
                <td></td>
                <td>
                    <textarea placeholder="Коментарий" class="width100pc" type="text" ng-model="newTenant.comment" ></textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <button type="button" class="btn btn-primary btn-sm" ng-click="create(newTenant)">Добавить жильца</button>
    </p>
</div>