@(paymentType: String)

<div ng-controller="paymentController">
    <div ng-class="getPaymentCss(tenantDto.@{paymentType}Saldo)"
        ng-click="showSaldo(tenantDto)">{{tenantDto.@{paymentType}Saldo | customCurrency}}</div>
    <div ng-show="isPaymentsShown('@paymentType', tenantDto)">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="width150px">Название</th>
                    <th class="width50px">Сальдо</th>
                    <th class="width50px">Счет</th>
                    <th class="width50px">Оплачено</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="payment in tenantDto.payments.@{paymentType}">
                    <td class="width150px">{{payment.name}}</td>
                    <td class="nowrap width50px" ng-class="getPaymentCss(payment.amount - payment.payment)">{{payment.amount - payment.payment | customCurrency}}</td>
                    <td class="nowrap width50px" ng-class="getPaymentCss(payment.amount)">{{payment.amount | customCurrency}}</td>
                    <td class="nowrap width50px" ng-class="getPaymentCss(payment.payment)">{{payment.payment | customCurrency}}</td>
                </tr>
                <tr>
                    <td class="width150px">
                        <input type="text" class="width50px" ng-model="new@{paymentType}.name" />
                    </td>
                    <td class="width50px">
                    </td>
                    <td class="width50px">
                        <input type="text" class="width50px" ng-model="new@{paymentType}.amount" />
                    </td>
                    <td class="width50px">
                        <input type="text" class="width50px" ng-model="new@{paymentType}.payment" />
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <button type="button" class="btn btn-primary btn-sm" ng-click="create(new@{paymentType}, tenantDto.tenant.id, tenantDto.payments.@{paymentType},  '@{paymentType}')">Добавить платёж</button>
        </p>
    </div>
</div>